{% extends "base.html" %}

{% block content %}

{% if not current_user.is_authenticated %}
<div class="column is-4 is-offset-4">
    <h1 class="title">
        Привет!
    </h1>
    <h2 class="subtitle">
        Похоже, мы ещё не знакомы.
    </h2>
    <div class="box">
        <div class="buttons">
            <a href="{{url_for('auth.signup')}}" class="button is-fullwidth is-primary is-large">
                Зарегистрироваться
            </a>
            <a href="{{url_for('auth.login')}}" class="button is-fullwidth is-primary is-light is-large">
                Войти в систему
            </a>
        </div>
    </div>
</div>
{% endif %}

{% if current_user.is_authenticated %}
<div class="column is-8 is-offset-2">
    <h1 class="title">
        Привет, {{ current_user.name }}!
    </h1>
    <!-- <div class="box">
        <form method="POST" action="/api/generate">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="date" name="start_date">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input" type="date" name="end_date">
                        </div>
                    </div>
                </div>
            </div>

            <button class="button is-block is-primary is-fullwidth">Сгенерировать</button>
        </form>
    </div> -->
</div>
{% endif %}

{% endblock %}